* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "gilroy";
  background-color: #000;
}

/*------------------------------------------*/
/*----------------NAVIGATION----------------*/
/*------------------------------------------*/

nav {
  position: fixed;
  z-index: 99;
  height: 10vh;
  width: 100vw;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left{
  font-size: 0.8em;
  padding: 0 4em;
  color: #fff;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
}

.right {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 0.8em;
  padding: 2em;
  color: #fff;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
 
}

/*------------------------------------------*/
/*----------------CANVAS----------------*/
/*------------------------------------------*/

.page {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.head > h1 {
  color: #DBDFE0;
  z-index: 99;
  font-size: 20em;
  text-transform: uppercase;
  font-family: "Aville";
}

.tag{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.tag > h3 {
  position: absolute;
  left: 33%;
  top: 68%;
  color: #dedede;
  z-index: 99;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-family: "Aville Script";
}

.head{
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.watch{
  height: 16em;
  width: 10em;
  margin-bottom: 2.8em;
}

.watch>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

canvas {
  position: relative;
  z-index: -1;
  max-width: 100vw;
  max-height: 100vh;
}

.page4 {
  height: 100vh;
  width: 100vw;
  background-color: #100c08;
}

.txt {
  color: #fff;
}

.txt > h1 {
  margin-top: 0.8em;
  font-size: 10em;
  margin-left: 2em;
  
  font-family: Aville;
}

.txt > p {
  font-size: 1.2em;
  text-align: center;
  padding: 0 10em 0 4em;
  margin-top: 2em;
  margin-left: 2.5em;
}

.mini-txt{
  display: flex;
  align-items: center;
}

.mini-txt .left{
  padding: 8em 40em 0 8em;
}

.mini-txt .right{
  padding: 8em 8em 0 3em;
  text-align: end;
  margin-right: 2em;
}

.page5{
  position: relative;
  height: 100vh;
  width: 100vw;
  padding-top: 7em;
  background-color: #100c08;
  color: #fff;
  
}

.page5>.d3{
  position: absolute;
  right: 2%;
  bottom: 5%;
  height: 60%;
  width: 100%
}

.page5>.txt2>h1{
  font-size: 10em;
  margin-left: 1.1em;
  font-family: Aville;
}

.mini-txt2{
  display: flex;
  align-items: center;
  font-size: 0.8em;
  background: rgba(0,0,0,0)
}

.mini-txt2 .left2{
  padding: 8em 40em 0 8em;
}

.mini-txt2 .right2{
  padding: 8em 8em 0 3em;
  text-align: end;
  margin-right: 2em;
}

footer{
  height: 100vh;
  width: 100vw;
  background-color: #100c08;
  color: #fff;
}

.scroller>.img{
  height: 12em;
  width: 90%;
  margin-top: 2em;
}
.scroller{
  display: flex;
  flex-wrap: nowrap;
}

.scroller>.img>img{
  height: 100%;
  width: 100%;
}

.txts{
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
}

.rolex>h3{
  margin-bottom: 1em;
}

.rolex>h4{
  font-size: 0.8em;
  font-weight: 500;
}

.txts>img{
  height: 3em;

}